@model AplicacionCRUD.Models.Contacto

@{
    ViewBag.Title = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="margin-top: 30px;">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h4 class="text-white">Eliminar Contacto</h4>
            </div>
            <div class="panel-body">
                <div class="alert alert-danger">
                    <strong>¿Desea eliminar el contacto?</strong> <br />
                    <span>@Html.DisplayFor(m => m.Nombres) @Html.DisplayFor(m => m.Apellidos)</span>
                </div>
                <form action="@Url.Action("Eliminar", "Contacto")" method="post">
                    @Html.HiddenFor(m => m.idContacto)
                    <div class="btn-group" role="group" aria-label="Eliminar o Volver">
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                        <a class="btn btn-warning" href="@Url.Action("Inicio", "Contacto")">Volver</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
